/* Links Stylesheet */

/* Responds to change in width of screen by changing the background color */
  @media screen and (min-width: 480px) {
    body {
      background-color: rgb(234, 234, 113);
    }
  }

video {
    /* make video more responsive to change in height*/
    width: 100%    !important;
    height: auto   !important;
  }

