/* Links Stylesheet */

h1 {
    font-size: 35px;
    font-weight: normal;
    margin-top: 5px;
    font-family:cursive;
    color: grey;
  }
  
  body {
background-color: pink;
  }
  
  @media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }